$sidebar-menu :#f8f8f8;
$overlay-color:rgba(0, 0, 0, 0.4);
$white-color:#fff;
$black-color:#000;
$gold-color:#d2b454;
$gold-color-hover:#c0a037;
$gold-color-gradient:#836a1a;
$firozeh-color:#00c0c5;
$firozeh-color-hover:#139ea3;
$webkit-track:#e7e7e7;
$webkit-thumb:#8F8E8E;
$webkit-thumb-hover:#555;
$swiper-bg:rgba(44, 171, 175, 0.4);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

// fonts
@font-face {
    font-family: 'ModamFaNum-Light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/woff2/ModamFaNumWeb-Light.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/ModamFaNumWeb-Light.woff') format('woff');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: 'ModamFaNum-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/woff2/ModamFaNumWeb-Regular.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/ModamFaNumWeb-Regular.woff') format('woff');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: 'ModamFaNum-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/woff2/ModamFaNumWeb-Bold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/ModamFaNumWeb-Bold.woff') format('woff');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
.ModamFN-light {
    font-family: 'ModamFaNum-Light';
}
.ModamFN-Regular {
    font-family: 'ModamFaNum-Regular';
}
.ModamFN-Bold {
    font-family: 'ModamFaNum-Bold';
}

// media query
@media all and (max-width: 767.999px) {
    .header-banner {
        background: url("../image/header-banner.png") center center no-repeat;
        background-size: cover;
        height: 11vh;
    }
    .menu-md {
        display: none;
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $overlay-color;
        z-index: 10;
        visibility: hidden;
        inset: 0px;
    }
    .overlaycart {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $overlay-color;
        z-index: 10;
        visibility: hidden;
        inset: 0px;
    }
    .overlayVisible {
        visibility: visible;
        opacity: 1;
    }
    .sidebar {
        width: 300px;
        min-height: 100vh;
        background-color: $sidebar-menu;
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        padding: 12px 16px 0px 16px;
    }
    .cart-slide {
        width: 300px;
        min-height: 100vh;
        background-color: $sidebar-menu;
        overflow-y: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 20;
        padding: 12px 16px 0px 16px;
    }
    .menu {
        height: 60px;
    }
    .menu ul {
        list-style: none;
    }
    .menu ul li {
        margin: 10px 5px;
    }
    .menu ul li a {
        color: $firozeh-color;
        padding: 8px 15px;
        font-family: 'ModamFaNum-Bold';
    }
    .menu ul li a:hover {
        color: $white-color;
        background-color: $gold-color;
        padding: 8px 15px;
        transition: all;
        border-radius: 50px;
    }
    .sign-btn-sidebar {
        font-family: 'ModamFaNum-Bold';
        color: $white-color;
        background-color: $gold-color;
        padding: 10px 50px;
    }
    .sign-btn-sidebar:hover {
        font-family: 'ModamFaNum-Bold';
        color: $white-color;
        background-color: $gold-color-hover;
        padding: 10px 50px;
    }
    .bg-building {
        background: url("../image/building.jpg") center top no-repeat fixed;
        background-size: cover;
        height: auto;
        margin-top: 40px;
        padding: 62px 0px;
    }
    .news-main {
        display: flex;
        flex-direction: column;
        margin: 80px 0px;
    }
    .news .card {
        width: 100%;
        height: 270px;
        margin: 20px 0px;
    }
    .bg-Firozeh {
        background-color: $firozeh-color;
        height: 100%;
    }
    .svg-shape-top {
        display: none;
    }
    .svg-shape-bottom {
        display: none;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer-margin-top {
        margin-top: 60px;
    }
    .footer-margin-top-2 {
        margin-top: 20px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    }
    .footer-items {
        padding: 13px 0px;
        height: auto;
    }
    .footer-items a {
        margin: 15px 0px;
        font-size: 20px !important;
    }
    .margin-top-all {
        margin-top: 55px !important;
    }
    .new-margin {
        margin-top: 80px !important;
    }
    .news-btn {
        color: $white-color;
        background-color: $gold-color;
        position: absolute;
        top: 46px;
        right: 5px;
        padding: 11px 15px;
    }
    .news-btn:hover {
        color: $white-color;
        background-color: $gold-color-hover;
        position: absolute;
        top: 46px;
        right: 5px;
        padding: 11px 15px;
    }
    .arrows-head {
        width: 100%;
        position: absolute;
        top: 30%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .course-head h4 {
        text-align: center;
        font-size: 18px !important;
    }
    .course-head p {
        text-align: center;
        font-size: 16px !important;
    }
    .course-reg {
        padding: 10px 0px ;
        font-size: 14px !important;
    }
    .form-course-reg {
        margin: 30px 0px 80px 0px!important;
    }
    .course-reg div {
        margin: 25px;
    }
    .registrationimg{
        display: none;
    }
    .course-reg input {
        width: 75%;
        border: 2px solid $gold-color;
    }
    .course-reg-btn {
        background-color: $gold-color;
        color: $white-color;
    }
    .course-reg-link a {
        color: #d2b454;
    }
    .form-login {
        margin: 115px 0px !important;
    }
    .card-course {
        width: 100%;
        height: 430PX;
        margin: 80px 0px 60px 0px;
    }
    .card-img-course {
        width: 300px;
        height: 90px;
        margin-bottom: 15px;
    }
    .card-img-course img{
        position: absolute;
        top: -48px;
        width: 94%;
        height: 200px;
        right: 14px;
        
    }
    .card-course-details {
        width: 100% !important;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .card-img-course-details {
        width: 300px;
        height: 90px;
        margin-bottom: 15px;
    }
    .card-img-course-details img {
        position: absolute;
        top: -48px;
        width: 94%;
        height: 200px;
        right: 14px;
    }
    .card-body-details {
        margin-top: 60px;
    }
    .btn-sign-course {
        background-color: $firozeh-color;
        padding: 8px 35px;
    }
    .btn-sign-course:hover {
        background-color: $firozeh-color-hover;
        padding: 8px 35px;
        transition: all;
    }
    .btn-info-course {
        background-color: $gold-color;
        color: $white-color;
        padding: 8px 20px;
    }
    .btn-info-course:hover {
        background-color: $gold-color-hover;
        color: $white-color;
        padding: 8px 20px;
        transition: all;
    }
    .sort-bar {
        display: flex;
        flex-direction: column;
    }
    .sort-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        margin: 30px 0px;
    }
    .btn-search {
        background-color: $gold-color;
        position: absolute;
        right: 6px;
        top: 5px;
        padding: 10px 15px;
        border: 0;
    }
    .search-sec {
        width: 100% !important;
    }
    .search-bar{
        width: 100%;
        padding: 15px 70px;
    }
    .product-card{
        margin-top: 60px;
        width: 330;
        height: 550;
    }
    .product-card h4 {
        font-size: 16px !important;
    }
    .product-card p {
        font-size: 12px !important;
    }
    .product-card span {
        font-size: 15px !important;
    }
    .product-card img {
        width: 170px;
        height: 170px;
    }
    .add-basket {
        padding: 15px 20px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 12px;
        margin: 15px 0px;
    }
    .add-basket:hover {
        padding: 15px 20px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0px 80px 0px !important;
    }
    .products div {
        margin: 15px 0px;
    }
    .product-detail {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .product-detail-main > img {
        width: 250px;
        height: 250px;
    }
    .product-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-details img {
        width: 80px;
        height: 80px;
    }
    .product-detail-item img {
        width: 150px;
        height: 150px;
    }
    .product-detail-item h6 {
        font-size: 20px;
    }
    .product-card-details {
        height: 50% !important;
    }
    .counter-btns {
        background-color: $gold-color;
        padding: 5px 15px;
    }
    .counter-btn {
        background-color: $gold-color;
        width: 40px;
        height: 40px;
    }
    .counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .cart-sm-item img {
        width: 80px;
        height: 80px;
    }
    .cart-sm-item h6 {
        font-size: 14px;
    }
    .cart-sm-margin {
        margin: 20px 0px ;
    }
    .cart-sm-margin .card {
        margin: 20px 0px ;
    }
    .cart-sm {
        margin: 20px 0px !important;
    }
    .cart-sm-counter-btns {
        background-color: $gold-color;
        padding: 5px 4px;
    }
    .cart-sm-counter-btn {
        background-color: $gold-color;
        padding: 3px;
    }
    .cart-sm-counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .cart-sm-add-basket {
        padding: 10px 40px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 16px;
    }
    .cart-sm-add-basket:hover {
        padding: 10px 40px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .add-basket-details {
        padding: 15px 40px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 20px;
    }
    .add-basket-details:hover {
        padding: 15px 40px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .license-item {
        margin: 50px 0px !important;
    }
    .license-item img {
        width: 300px;
        height: auto;
    }
    .contact {
        display: flex;
        flex-direction: column;
        margin: 50px 0px !important;
    }
    .contact-right {
        margin-right:30px;
    }
    .contact-item {
        margin: 15px 0px;
    }
    iframe {
        width:100%;
        height:500px;
    }
    .about {
        margin: 50px 0px !important;
    }
    .new-sec {
        display: flex;
        flex-direction: column;
    }
    .news-items {
        padding: 40px 0px ;
        border-bottom: 3px dashed $gold-color;
        text-align: center;
    }
    .news-items h5 ,.news-items a , .news-items p {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .news-items img {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }
    .news-details {
        margin: 50px 0px !important;
        display: flex;
        flex-direction: column;
    }
    .news-items-2 {
        padding: 0px 0px 40px 0px ;
        border-bottom: 3px dashed $gold-color;
    }
    .news-items-2 img {
        width: 100%;
        height: 250px;
        margin: 0px auto !important;
    }
    .basket-counter-btns {
        background-color: $gold-color;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .basket-counter-btn {
        background-color: $gold-color;
        width: 40px;
        height: 40px;
    }
    .basket-counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .basket-img img {
        width: 80px;
        height: 80px;
    }
    .basket {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }
    table {
        display: table;
        margin: 0 auto;
        text-align: center;
        width: 650px !important;
    }
    td , th {
        vertical-align: middle;
        padding: 0px;
        white-space: nowrap;
    }
    .panel-items {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .form-panel div {
        margin: 20px 0px;
    }
    .form-panel div input {
        width: 70%;
        border: 2px solid $gold-color;
    }
    .btn-agree {
        background-color: $gold-color;
        padding: 5px 20px;
    }
    .btn-agree:hover {
        background-color: $gold-color-hover;
    }
    .btn-edit {
        background-color: $firozeh-color;
        padding: 5px 20px;
    }
    .btn-edit:hover {
        background-color: $firozeh-color-hover;
    }
    
}

@media all and (min-width: 768px) and (max-width: 1023.999px) {
    .header-banner {
        background: url("../image/header-banner.png") center center no-repeat;
        background-size: cover;
        height: 12vh;
    }
    .nav-top a {
        font-size: 12px !important;
    }
    .menu-md {
        display: none;
    }
    .menu {
        height: 60px;
    }
    .menu ul {
        list-style: none;
    }
    .menu ul li {
        margin: 15px 4px;
    }
    .menu ul li a {
        font-size: 16px;
        color: $firozeh-color;
        padding: 5px 8px;
        font-family: 'ModamFaNum-Bold';
    }
    .menu ul li a:hover {
        color: $white-color;
        background-color: $gold-color;
        padding: 8px 8px;
        transition: all;
        border-radius: 50px;
    }
    .bg-building {
        background: url("../image/building.jpg") center top no-repeat fixed;
        background-size: cover;
        height: auto;
        margin-top: 40px;
        padding: 62px 0px;
    }
    .overlay {
        display: none;
    }
    .news-main {
        display: flex;
        flex-direction: column;
        margin: 80px 0px;
    }
    .news .card {
        width: 100%;
        height: 270px;
        margin: 0px auto !important;
    }
    .bg-Firozeh {
        background-color: $firozeh-color;
        height: 100%;
    }
    .svg-shape-top {
        display: none;
    }
    .svg-shape-bottom {
        display: none;
    }
    .footer-margin-top {
        margin-top: 60px;
    }
    .footer-margin-top-2 {
        margin-top: 17px;
    }
    .footer {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-items {
        padding: 13px 50px;
        height: auto;
    }
    .footer-items a {
        margin: 15px 0px;
        font-size: 22px !important;
    }
    .margin-top-all {
        margin-top: 65px !important;
    }
    .new-margin {
        margin-top: 80px !important;
    }
    .news-btn {
        color: $white-color;
        background-color: $gold-color;
        position: absolute;
        top: 47px;
        right: 5px;
        padding: 11px 15px;
    }
    .news-btn:hover {
        color: $white-color;
        background-color: $gold-color-hover;
        position: absolute;
        top: 47px;
        right: 5px;
        padding: 11px 15px;
    }
    .arrows-head {
        width: 100%;
        position: absolute;
        top: 40%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .course-reg {
        padding: 15px 10px ;
        font-size: 16px;
    }
    .form-course-reg {
        margin: 30px 0px 80px 0px!important;
    }
    .form-login {
        margin: 120px 0px!important;
    }
    .course-reg div {
        margin: 25px;
    }
    .registrationimg{
        display: none;
    }
    .course-reg input {
        width: 75%;
        border: 2px solid $gold-color;
    }
    .course-reg-btn {
        background-color: $gold-color;
        color: $white-color;
    }
    .course-reg-link a {
        color: $gold-color;
    }
    .card-course {
        width: 300px;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .card-course-details {
        width: 100% !important;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .btn-sign-course {
        background-color: $firozeh-color;
        padding: 8px 45px;
    }
    .btn-sign-course:hover {
        background-color: $firozeh-color-hover;
        padding: 8px 45px;
        transition: all;
    }
    .btn-info-course {
        background-color: $gold-color;
        color: $white-color;
        padding: 8px 20px;
    }
    .btn-info-course:hover {
        background-color: $gold-color-hover;
        color: $white-color;
        padding: 8px 20px;
        transition: all;
    }
    .card-course {
        width: 300px;
        height: 400PX;
    }
    .card-img-course {
        width: 300px;
        height: 90px;
    }
    .card-img-course img {
        position: absolute;
        top: -48px;
        width: 270px;
        height: 180px;
        right: 14px;
    }
    .card-course-details {
        width: 100% !important;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .card-img-course-details {
        width: 300px;
        height: 90px;
        margin-bottom: 15px;
    }
    .card-img-course-details img {
        position: absolute;
        top: -48px;
        width: 96%;
        height: 300px;
        right: 14px;
    }
    .card-body-details {
        margin-top: 150px;
    }
    .btn-sign-course {
        background-color: $firozeh-color;
        padding: 8px 35px;
    }
    .btn-sign-course:hover {
        background-color: $firozeh-color-hover;
        padding: 8px 35px;
        transition: all;
    }
    .btn-info-course {
        background-color: $gold-color;
        color: $white-color;
        padding: 8px 20px;
    }
    .btn-info-course:hover {
        background-color: $gold-color-hover;
        color: $white-color;
        padding: 8px 20px;
        transition: all;
    }
    .sort-bar {
        display: flex;
        flex-direction: column;
    }
    .sort-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        margin: 30px 0px;
    }
    .btn-search {
        background-color: $gold-color;
        position: absolute;
        right: 6px;
        top: 5px;
        padding: 10px 15px;
        border: 0;
    }
    .search-sec {
        width: 100% !important;
    }
    .search-bar{
        width: 100%;
        padding: 15px 70px;
    }
    .product-card h4 {
        font-size: 22px !important;
    }
    .product-card p {
        font-size: 16px !important;
    }
    .product-card span {
        font-size: 18px !important;
    }
    .product-card{
        margin-top: 60px;
        width: 330;
        height: 550;
    }
    .product-card img {
        width: 290px;
        height: 280px;
    }
    .add-basket {
        padding: 15px 50px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 18px;
        margin: 30px 0px;
    }
    .add-basket:hover {
        padding: 15px 50px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0px 80px 0px !important;
    }
    .products div {
        margin: 15px 0px;
    }
    .product-detail {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .product-detail-main > img {
        width: 250px;
        height: 250px;
    }
    .product-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-details img {
        width: 80px;
        height: 80px;
    }
    .product-detail-item img {
        width: 150px;
        height: 150px;
    }
    .product-detail-item h6 {
        font-size: 20px;
    }
    .product-card-details {
        height: 50% !important;
    }
    .counter-btns {
        background-color: $gold-color;
        padding: 5px 15px;
    }
    .counter-btn {
        background-color: $gold-color;
        width: 40px;
        height: 40px;
    }
    .counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .add-basket-details {
        padding: 15px 40px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 20px;
    }
    .add-basket-details:hover {
        padding: 15px 40px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .license-item {
        margin: 80px 0px !important;
    }
    .license-item img {
        width: 500px;
        height: auto;
    }
    .contact {
        display: flex;
        flex-direction: column;
        margin: 80px 0px !important;
    }
    .contact-right {
        margin-right:30px;
    }
    .contact-item {
        margin: 15px 0px;
    }
    iframe {
        width:100%;
        height:500px;
    }
    .about {
        margin: 80px 0px !important;
    }
    .new-sec {
        display: flex;
        flex-direction: column;
    }
    .news-items {
        padding: 40px 0px ;
        border-bottom: 3px dashed $gold-color;
        text-align: center;
    }
    .news-items img {
        width: 70%;
        height: auto;
        margin-bottom: 25px;
    }
    .news-details {
        margin: 80px 0px !important;
        display: flex;
        flex-direction: column;
    }
    .news-items-2 {
        padding: 0px 0px 40px 0px ;
        border-bottom: 3px dashed $gold-color-hover;
    }
    .news-items-2 img {
        width: 500px;
        height: 250px;
        margin: 0px auto !important;
    }
    .basket-counter-btns {
        background-color: $gold-color;
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        line-height: 40px;
    }
    .basket-counter-btn {
        background-color: $gold-color;
        width: 40px;
        height: 40px;
    }
    .basket-counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .basket-img img {
        width: 80px;
        height: 80px;
    }
    .basket {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        text-align: center;
    }
    table {
        display: table;
        margin: 0 auto;
        text-align: center;
    }
    td , th {
        vertical-align: middle;
        padding: 0px;
        white-space: nowrap;
    }
    .panel-items {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .form-panel div {
        margin: 20px 0px;
    }
    .form-panel div input {
        width: 80%;
        border: 2px solid $gold-color;
    }
    .btn-agree {
        background-color: $gold-color;
        padding: 5px 20px;
    }
    .btn-agree:hover {
        background-color: $gold-color-hover;
    }
    .btn-edit {
        background-color: $firozeh-color;
        padding: 5px 20px;
    }
    .btn-edit:hover {
        background-color: $firozeh-color-hover;
    }
    

}

@media all and (min-width: 1024px) and (max-width: 1199.99px) {
    .header-banner {
        background: url("../image/header-banner.png") center center no-repeat;
        background-size: cover;
        height: 12vh;
    }
    .menu-md {
        display: block;
    }
    .menu {
        height: 60px;
    }
    .menu ul {
        list-style: none;
    }
    .menu ul li {
        margin: 15px 5px;
    }
    .menu ul li a {
        font-size: 14px;
        color: $firozeh-color;
        padding: 8px 15px;
        font-family: 'ModamFaNum-Bold';
    }
    .menu ul li a:hover {
        color: $white-color;
        background-color: $gold-color;
        padding: 8px 15px;
        transition: all;
        border-radius: 50px;
    }
    .bg-building {
        background: url("../image/building.jpg") center top no-repeat fixed;
        background-size: cover;
        height: auto;
        margin-top: 40px;
        padding: 62px 0px;
    }
    .news-main {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 80px 0px;
    }
    .news .card {
        width: 100%;
        height: 270px;
        margin: 0px auto !important;
    }
    .bg-Firozeh {
        background-color: $firozeh-color;
        height: 100%;
    }
    .svg-shape-top {
        position: absolute;
        top: 0px;
        left: 425px;
        color: $white-color;
        margin: 0px auto;
        width: 178px;
        height: 86px;
        display: block;
    }
    .svg-shape-bottom {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 425px;
        color: $white-color;
        margin: 0px auto;
        width: 178px;
        height: 86px;
        transform: rotate(180deg);
    }
    .footer-margin-top {
        margin-top: 117px;
    }
    .footer-margin-top-2 {
        margin-top: 17px;
    }
    .footer {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-items {
        padding: 13px 10px;
        height: auto;
    }
    .footer-items h4 {
        font-size: 16px;
    }
    .footer-items a {
        margin: 15px 0px;
        font-size: 14px !important;
    }
    .margin-top-all {
        margin-top: 80px !important;
    }
    .new-margin {
        margin-top: 0px !important;
    }
    .news-btn {
        color: $white-color;
        background-color: $gold-color;
        position: absolute;
        top: 39px;
        right: 5px;
        padding: 11px 15px;
    }
    .news-btn:hover {
        color: $white-color;
        background-color: $gold-color-hover;
        position: absolute;
        top: 39px;
        right: 5px;
        padding: 11px 15px;
    }
    .arrows-head {
        width: 100%;
        position: absolute;
        top: 40%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .course-reg {
        padding: 30px 10px 30px 0px;
    }
    .form-course-reg {
        margin: 70px 0px !important;
    }
    .form-login {
        margin: 120px!important;
    }
    .course-reg div {
        margin: 25px;
    }
    .registrationimg {
        display: block;
    }
    .registrationimg img {
        width: 100% !important ;
        height: 100%;
    }
    .course-reg input {
        width: 75%;
        border: 2px solid $gold-color;
    }
    .course-reg-btn {
        background-color: $gold-color;
        color: $white-color;
    }
    .course-reg-link a {
        color: $gold-color;
    }
    .card-course {
        width: 300px;
        height: 400PX;
    }
    .card-course-details {
        width: 100% !important;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .card-img-course {
        width: 300px;
        height: 90px;
    }
    .card-img-course img {
        position: absolute;
        top: -48px;
        width: 270px;
        height: 180px;
        right: 14px;
    }
    .card-course-details {
        width: 100% !important;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .card-img-course-details {
        width: 300px;
        height: 90px;
        margin-bottom: 15px;
    }
    .card-img-course-details img {
        position: absolute;
        top: -48px;
        width: 91%;
        height: 200px;
        right: 14px;
    }
    .card-body-details {
        margin-top: 60px;
    }
    .btn-sign-course {
        background-color: $firozeh-color;
        padding: 8px 35px;
    }
    .btn-sign-course:hover {
        background-color: $firozeh-color-hover;
        padding: 8px 35px;
        transition: all;
    }
    .btn-info-course {
        background-color: $gold-color;
        color: $white-color;
        padding: 8px 20px;
    }
    .btn-info-course:hover {
        background-color: $gold-color-hover;
        color: $white-color;
        padding: 8px 20px;
        transition: all;
    }
    .sort-bar {
        display: flex;
        flex-direction: row;
    }
    .sort-item {
        width: 50% !important;
    }
    .btn-search {
        background-color: $gold-color;
        position: absolute;
        right: 6px;
        top: 5px;
        padding: 10px 15px;
        border: 0;
    }
    .search-sec {
        width: 40% !important;
    }
    .search-bar{
        width: 100%;
        padding: 15px 70px;
    }
    .product-card{
        margin-top: 60px;
        width: 330;
        height: 550;
    }
    .product-card img {
        width: 290px;
        height: 280px;
    }
    .add-basket {
        padding: 15px 50px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 18px;
        margin: 30px 0px;
    }
    .add-basket:hover {
        padding: 15px 50px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .products {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 60px 0px 80px 0px !important;
    }
    .product-detail {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .product-detail-main > img {
        width: 200px;
        height: 200px;
    }
    .product-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-details img {
        width: 60px;
        height: 60px;
    }
    .product-detail-item img {
        width: 100px;
        height: 100px;
    }
    .counter-btns {
        background-color: $gold-color;
        padding: 5px 0px;
    }
    .counter-btn {
        background-color: $gold-color;
        width: 40px;
        height: 40px;
    }
    .counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .add-basket-details {
        padding: 15px 20px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 20px;
        margin: 30px 0px 5px 0px;
    }
    .add-basket-details:hover {
        padding: 15px 20px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .license-item {
        margin: 90px 0px !important;
    }
    .license-item img {
        width: 700px;
        height: auto;
    }
    .contact {
        display: flex;
        flex-direction: row;
        margin: 90px 0px !important;
    }
    .contact-right {
        margin-right:30px;
    }
    .contact-item {
        margin: 15px 0px;
    }
    iframe {
        width:398px;
        height:100%;
    }
    .about {
        margin: 90px 0px !important;
    }
    .new-sec {
        display: flex;
        flex-direction: row;
    }
    .news-items {
        padding: 40px 0px ;
        border-bottom: 3px dashed $gold-color;
    }
    .news-items img {
        width: 350px;
        height: 200px;
    }
    .news-details {
        margin: 90px 0px !important;
        display: flex;
        flex-direction: row;
    }
    .news-items-2 {
        padding: 0px 0px 40px 0px ;
        border-bottom: 3px dashed $gold-color;
    }
    .news-items-2 img {
        width: 350px;
        height: 200px;
    }
    .basket-counter-btns {
        background-color: $gold-color;
    }
    .basket-counter-btn {
        background-color: $gold-color;
        width: 20px;
        height: 20px;
    }
    .basket-counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .basket-img img {
        width: 120px;
        height: 120px;
    }
    .basket {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        text-align: center;
    }
    table {
        display: table;
        margin: 0 auto;
        text-align: center;
    }
    td , th {
        vertical-align: middle;
        padding: 0px;
        white-space: nowrap;
    }
    .panel-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .form-panel div {
        margin: 20px 0px;
    }
    .form-panel div input {
        width: 85%;
        border: 2px solid $gold-color;
    }
    .btn-agree {
        background-color: $gold-color;
        padding: 5px 20px;
    }
    .btn-agree:hover {
        background-color: $gold-color-hover;
    }
    .btn-edit {
        background-color: $firozeh-color;
        padding: 5px 20px;
    }
    .btn-edit:hover {
        background-color: $firozeh-color-hover;
    }
    
}

@media all and (min-width: 1200px) {
    .header-banner {
        background: url("../image/header-banner.png") center center no-repeat;
        background-size: cover;
        height: 12vh;
    }
    .menu {
        height: 60px;
    }
    .menu ul {
        list-style: none;
    }
    .menu ul li {
        margin: 15px 5px;
    }
    .menu ul li a {
        color: $firozeh-color;
        padding: 8px 15px;
        font-family: 'ModamFaNum-Bold';
    }
    .menu ul li a:hover {
        color: $white-color;
        background-color: $gold-color;
        padding: 8px 15px;
        transition: all;
        border-radius: 50px;
    }
    .bg-building {
        background: url("../image/building.jpg") center top no-repeat fixed;
        background-size: cover;
        height: 69vh;
        margin-top: 40px;
        padding: 62px 0px;
    }
    .news-main {
        display: flex;
        margin: 80px 0px;
    }
    .news .card {
        width: 100%;
        height: 270px;
        margin: 0px auto !important;
    }
    .bg-Firozeh {
        background-color: $firozeh-color;
        height: 100%;
    }
    .svg-shape-top {
        position: absolute;
        top: -2.7px;
        left: 680px;
        color: $white-color;
        margin: 0px auto;
        width: 178px;
        height: 86px;
    }
    .svg-shape-bottom {
        position: absolute;
        bottom: -2.7px;
        left: 680px;
        color: $white-color;
        margin: 0px auto;
        width: 178px;
        height: 86px;
        transform: rotate(180deg);
    }
    .footer-margin-top {
        margin-top: 117px;
    }
    .footer-margin-top-2 {
        margin-top: 17px;
    }
    .footer {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .footer-items {
        padding: 13px 92px;
        height: auto;
    }
    .footer-items a {
        margin: 15px 0px;
    }
    .margin-top-all {
        margin-top: 80px !important;
    }
    .news-btn {
        color: $white-color;
        background-color: $gold-color;
        position: absolute;
        top: 49px;
        right: 5px;
        padding: 11px 15px;
    }
    .news-btn:hover {
        color: $white-color;
        background-color: $gold-color-hover;
        position: absolute;
        top: 49px;
        right: 5px;
        padding: 11px 15px;
    }
    .arrows-head {
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .course-reg {
        padding: 50px 30px;
    }
    .form-course-reg {
        margin: 90px 0px !important;
    }
    .form-login {
        margin: 115px!important;
    }
    .course-reg div {
        margin: 25px;
    }
    .registrationimg {
        display: block;
    }
    .registrationimg img {
        width: 100% !important;
        height: 100%;
    }
    .course-reg input {
        width: 80%;
        border: 2px solid $gold-color;
    }
    .course-reg-btn {
        background-color: $gold-color;
        color: $white-color;
    }
    .course-reg-link a {
        color: $gold-color;
    }
    .card-course {
        width: 330px;
        height: 400PX;
        margin: 80px auto;
    }
    .card-course-details {
        width: 100% !important;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .card-img-course {
        width: 330px;
        height: 90px;
    }
    .card-img-course img {
        position: absolute;
        top: -48px;
        width: 300px;
        height: 190px;
        right: 14px;
    }
    .card-course-details {
        width: 100% !important;
        height: 400PX;
        margin: 80px 0px 60px 0px ;
    }
    .card-img-course-details {
        width: 300px;
        height: 90px;
        margin-bottom: 15px;
    }
    .card-img-course-details img {
        position: absolute;
        top: -48px;
        width: 93%;
        height: 200px;
        right: 14px;
    }
    .card-body-details {
        margin-top: 60px;
    }
    .btn-sign-course {
        background-color: $firozeh-color;
        padding: 8px 45px;
    }
    .btn-sign-course:hover {
        background-color: $firozeh-color-hover;
        padding: 8px 45px;
        transition: all;
    }
    .btn-info-course {
        background-color: $gold-color;
        color: $white-color;
        padding: 8px 20px;
    }
    .btn-info-course:hover {
        background-color: $gold-color-hover;
        color: $white-color;
        padding: 8px 20px;
        transition: all;
    }
    .sort-bar {
        display: flex;
        flex-direction: row;
    }
    .sort-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50% !important;
    }
    .btn-search {
        background-color: $gold-color;
        position: absolute;
        right: 6px;
        top: 5px;
        padding: 10px 16px;
        border: 0;
        
    }
    .search-sec {
        width: 40% !important;
    }
    .search-bar{
        width: 100%;
        padding: 15px 70px;
    }
    .product-card{
        margin-top: 60px;
        width: 330;
        height: 550;
    }
    .product-card img {
            width: 300px;
            height: 280px;
    }
    .add-basket {
            padding: 15px 60px;
            background-color: $gold-color;
            color: $white-color;
            font-size: 20px;
            margin: 30px 0px;
    }
    .add-basket:hover {
            padding: 15px 60px;
            background-color: $gold-color-hover;
            color: $white-color;
            transition: all;
    }
    .products {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 60px 0px 80px 0px !important;
    }
    .product-detail {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .product-detail-main > img {
        width: 300px;
        height: 300px;
    }
    .product-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-details img {
        width: 80px;
        height: 80px;
    }
    .product-detail-item img {
        width: 100px;
        height: 100px;
    }
    .counter-btns {
        background-color: $gold-color;
        padding: 5px 10px;
    }
    .counter-btn {
        background-color: $gold-color;
        width: 40px;
        height: 40px;
    }
    .counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .add-basket-details {
        padding: 15px 40px;
        background-color: $gold-color;
        color: $white-color;
        font-size: 20px;
        margin: 30px 0px 5px 0px;
    }
    .add-basket-details:hover {
        padding: 15px 40px;
        background-color: $gold-color-hover;
        color: $white-color;
        transition: all;
    }
    .license-item {
        margin: 100px 0px !important;
    }
    .license-item img {
        width: 800px;
        height: auto;
    }
    .contact {
        display: flex;
        flex-direction: row;
        margin: 100px 0px !important;
    }
    .contact-right {
        margin-right:30px;
    }
    .contact-item {
        margin: 15px 0px;
    }
    iframe {
        width:547px;
        height:100%;
    }
    .about {
        margin: 100px 0px !important;
    }
    .new-sec {
        display: flex;
        flex-direction: row;
    }
    .news-items {
        padding: 40px 0px ;
        border-bottom: 3px dashed $gold-color;
        text-align: center;
    }
    .news-items img {
        width: 350px;
        height: 200px;
    }
    .news-details {
        margin: 100px 0px !important;
        display: flex;
        flex-direction: row;
    }
    .news-items-2 {
        padding: 0px 0px 40px 0px ;
        border-bottom: 3px dashed $gold-color;
    }
    .news-items-2 img {
        width: 350px;
        height: 200px;
    }
    .basket-counter-btns {
        background-color: $gold-color;
        width: 60%;
    }
    .basket-counter-btn {
        background-color: $gold-color;
        width: 30px;
        height: 30px;
    }
    .basket-counter-btn:hover {
        background-color: $gold-color-hover;
        transition: all;
    }
    .basket-img img {
        width: 120px;
        height: 120px;
    }
    .basket {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        text-align: center;
    }
    table {
        display: table;
        margin: 0 auto;
        text-align: center;
    }
    td , th {
        vertical-align: middle;
        padding: 0px;
        white-space: nowrap;
    }
    .panel-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .form-panel div {
        margin: 20px 0px;
    }
    .form-panel div input {
        width: 85%;
        border: 2px solid $gold-color;
    }
    .btn-agree {
        background-color: $gold-color;
        padding: 5px 20px;
    }
    .btn-agree:hover {
        background-color: $gold-color-hover;
    }
    .btn-edit {
        background-color: $firozeh-color;
        padding: 5px 20px;
    }
    .btn-edit:hover {
        background-color: $firozeh-color-hover;
    }
    
}

/* scroll */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: $webkit-track;
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: $webkit-thumb;
}
::-webkit-scrollbar-thumb:hover {
    background: $webkit-thumb-hover;
}

//other styles
.a-hover a {
    color: $black-color;
    text-decoration: none !important;
    cursor: pointer;
}
.a-hover:hover a {
    color: $gold-color !important;
    transition: all;
}
.wrapper{ 
    width:100%; 
    overflow-y:scroll; 
    position:relative;
    height: 800px;
}
.main-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ModamFaNum-Bold';
    margin: 50px 0px !important;
}
.headSwiper {
    width: 100%;
    height: 60%;
}
.headSwiper .swiper-slide img {
    width: 100%;
    height: 60%;
}
.navbar-details {
    font-family: 'ModamFaNum-Bold';
    font-size: 14px;
    color: $firozeh-color;
}
h2 {
    font-family: 'ModamFaNum-Bold';
    font-size: 35px;
}
.banner-product img {
    margin-top: 40px;
}
.about-maktab-details {
    font-family: 'ModamFaNum-Regular' !important;
    padding: 60px 60px 30px 60px;
}
.quote {
    position: absolute;
    font-size: 70px;
    top: -18px;
}
.emil-input-footer {
    width: 100%;
    padding: 15px 80px 15px 5px;
}
.main-border {
    border: 3px solid $gold-color !important;
}
.card-border {
    border: 3px solid $gold-color!important;
}
.news-scroll-details {
    border-bottom: 1px dashed $gold-color;
    margin-top: 20px;
}
.cousrse-title-swiper {
    text-align: right;
    padding: 0px 10px;
    width: 100%;
    height: 51px;
    line-height: 40px;
    border-radius: 0px 0px 2px 2px;
    background-image: linear-gradient($gold-color, $gold-color-gradient);
}
.footer a:hover {
    color: $gold-color-hover !important;
    transition:all !important;
}
.email {
    font-family: 'Modam';
    line-height: 19px;
    font-size: 14px;
    color: $firozeh-color;
    margin-left: 5px;
}
.just {
    text-align: justify;
}
.bg-Firozeh-footer {
    background-color: $firozeh-color;
}
.bg-Pattern {
    background: url("../image/pattern.png") center center no-repeat;
    background-size: cover;
}
.social a {
    font-size: 22px;
    line-height: 10px;
    color: $white-color;
}
.swiper-button-next-custom {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    background-color: $swiper-bg;
}
.swiper-button-prev-custom {
    margin-left: 10px;
    width: 70px;
    height: 70px;
    background-color: $swiper-bg;
}
.swiper-button-next-custom-course {
    width: 70px;
    height: 70px;
    background-color: $swiper-bg;
}
.swiper-button-prev-custom-course {
    width: 70px;
    height: 70px;
    background-color: $swiper-bg;
}
.arrows {
    width: 100%;
    position: absolute;
    top: 30%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.arrows-2 {
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between
}